html, body {
  /* important for border container */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.persistentObjectButtonEditPane {
  background-color: #DFFFDF;
  display: inline-block !important;
}

.persistentObjectButtonEditPane-buttons {
  position: absolute;
  right: 8px;
  bottom: 5px;
}

.persistentObjectButtonEditPane > div {
  /* the border container */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.persistentObjectButtonEditPane .dijitBorderContainer-dijitContentPane {
  /* the content panes */
  background-color: transparent;
  border: none;
}

.persistentObjectButtonEditPane.SemanticObjectPane_busy {
  background-image: url('./img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.persistentObjectButtonEditPane.SemanticObjectPane_wild {
  background-image: url('./img/Alert.png');
  background-repeat: no-repeat;
  background-position: center;
}

.persistentObjectButtonEditPane.SemanticObjectPane_error {
  background-image: url('./img/file_broken.png');
  background-repeat: no-repeat;
  background-position: center;
}
